/* icomooon */
@font-face {
   font-family: 'icomoon';
   src:  url('../fonts/icomoon.eot?ffeut4');
   src:  url('../fonts/icomoon.eot?ffeut4#iefix') format('embedded-opentype'),
     url('../fonts/icomoon.ttf?ffeut4') format('truetype'),
     url('../fonts/icomoon.woff?ffeut4') format('woff'),
     url('../fonts/icomoon.svg?ffeut4#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
 
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-twitter:before {
   content: "\ea96";
 }
 .icon-linkedin:before {
   content: "\eac9";
 } 
 
 /* fin del documento icomoon */
 

body{
   background-color: #fafafa;
}
h1{
   font-size: 2.3em; 
   letter-spacing: .01em;
}
h2{
   padding: 15px;
   font-size: 1.4em;
   letter-spacing: .3em;
   font-weight: 700;
}
h4{
   font-size: 1.7em;
   letter-spacing: .01em;
   font-weight: 400;
}

video {
   width: 270px;
   border-radius: 22px;
   margin-bottom: 20px;
   border: 10px solid #F5F5F5;
   -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.35);
   -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.35);
   box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.35);

}

.logo {
   font-size: 1.5em;
   letter-spacing: .08em;
   margin-bottom: 0;
   color: #ffffff;
   border-radius: 5px;
   font-family: 'Josefin Sans', sans-serif;
}
.degraded-hero {
   background: rgba(36,0,61,1);
   background: -moz-linear-gradient(-45deg, rgba(36,0,61,1) 0%, rgba(36,0,61,1) 37%, rgba(3,4,33,1) 72%, rgba(3,4,33,1) 85%, rgba(3,4,33,1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36,0,61,1)), color-stop(37%, rgba(36,0,61,1)), color-stop(72%, rgba(3,4,33,1)), color-stop(85%, rgba(3,4,33,1)), color-stop(100%, rgba(3,4,33,1)));
   background: -webkit-linear-gradient(-45deg, rgba(36,0,61,1) 0%, rgba(36,0,61,1) 37%, rgba(3,4,33,1) 72%, rgba(3,4,33,1) 85%, rgba(3,4,33,1) 100%);
   background: -o-linear-gradient(-45deg, rgba(36,0,61,1) 0%, rgba(36,0,61,1) 37%, rgba(3,4,33,1) 72%, rgba(3,4,33,1) 85%, rgba(3,4,33,1) 100%);
   background: -ms-linear-gradient(-45deg, rgba(36,0,61,1) 0%, rgba(36,0,61,1) 37%, rgba(3,4,33,1) 72%, rgba(3,4,33,1) 85%, rgba(3,4,33,1) 100%);
   background: linear-gradient(135deg, rgba(36,0,61,1) 0%, rgba(36,0,61,1) 37%, rgba(3,4,33,1) 72%, rgba(3,4,33,1) 85%, rgba(3,4,33,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24003d', endColorstr='#030421', GradientType=1 );
}
#hero{
   
   
}
#hero h1{
   font-weight: 700;
   text-align: left;
   color: #ffffff;
   letter-spacing: 1.5px;
   font-size: 3.7em;
}
#hero span {
   color: #0078a5;
   font-size: 1.5em;
   font-weight: 600;
}
#hero p{
   font-size: 1.2em;
   line-height: 1.3em;
   color: #0078a5;
}
.personal-info {
   padding: 80px 0;
   text-shadow: 2px 2px rgba(0, 0, 0, .1);
}

#hero-phone {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   margin-bottom: 50px;
}
#hero-phone h3 {
   position: absolute;
   top: 70px;
   right: 0;
   font-size: 3.5em;
   color: #ffffff;
   z-index: 400;  
   padding: 0 10px;
   background: rgba(251,177,195,1);
   background: -moz-linear-gradient(left, rgba(251,177,195,1) 0%, rgba(251,177,195,0) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,177,195,1)), color-stop(100%, rgba(251,177,195,0)));
   background: -webkit-linear-gradient(left, rgba(251,177,195,1) 0%, rgba(251,177,195,0) 100%);
   background: -o-linear-gradient(left, rgba(251,177,195,1) 0%, rgba(251,177,195,0) 100%);
   background: -ms-linear-gradient(left, rgba(251,177,195,1) 0%, rgba(251,177,195,0) 100%);
   background: linear-gradient(to right, rgba(251,177,195,1) 0%, rgba(251,177,195,0) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb1c3', endColorstr='#fbb1c3', GradientType=1 );
   
}
#hero #hero-phone h3 span {
 font-size: 1em;
}
.cont-arrow {
   position: absolute;
   left: 100px;
   top: -44px;  
   padding: 3px;
   z-index: 100;
   background: rgba(253,216,225,1);
background: -moz-linear-gradient(left, rgba(253,216,225,1) 0%, rgba(253,216,225,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,216,225,1)), color-stop(100%, rgba(253,216,225,0)));
background: -webkit-linear-gradient(left, rgba(253,216,225,1) 0%, rgba(253,216,225,0) 100%);
background: -o-linear-gradient(left, rgba(253,216,225,1) 0%, rgba(253,216,225,0) 100%);
background: -ms-linear-gradient(left, rgba(253,216,225,1) 0%, rgba(253,216,225,0) 100%);
background: linear-gradient(to right, rgba(253,216,225,1) 0%, rgba(253,216,225,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd8e1', endColorstr='#fdd8e1', GradientType=1 );
  }
#hero-phone #arrow{
   max-width: 25%;
}
#hero-phone #woman {
   position: absolute;
   left: 50px;
   top: 155px;
   max-width: 65%;
   opacity: .7;

   animation-name: moveUpDown;
   animation-duration: 1.8s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   transition-timing-function: ease-in-out;
}
@keyframes moveUpDown {
   0%{
     transform: translateY(-8px);
   }
    100%{
     transform: translateY(8px);
   }
 }
#hero-phone .check-list-img {
   position: absolute;
   top: 360px;
   left: 140px;
   z-index: 200;
   width: 70px;
   height: 70px;
}

#hero-phone #phone{
   position: relative;
   max-width: 40%;
   z-index: 200;
}

a:hover{
   text-decoration: none;
}
.clip {
   -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 93%, 0 96%);
   clip-path: polygon        (0% 0%, 100% 0, 100% 90%, 50% 93%, 0 96%);
   border-radius: 3px;
}
.navbar-light .navbar-nav .nav-link {
   color: #E5E5E5;
}
.navbar-light .navbar-nav .nav-link:hover {
   color: #ffffff;
   transition: color .3s ease;
   cursor: default;
}
.margin{
   margin-bottom: 100px;
}
.whatsapp-icon{
   position: absolute;
   right: -3px;
   position: fixed;
   top: 55%;
   z-index: 200;
   background-color: rgba(0,0,0,.5);
   padding: 4px 0;
   border-radius: 10px 0 0 10px;
   text-align: center;
}
.whatsapp-icon img{
   max-width: 80%;
}
.title-projects {
   margin: 90px 0 35px 0;
   font-size: 2.6em;
   color: #303339;
   font-weight: 400;
}
.title-projects span {
   color: #0A7DA8;
}
.overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0,0,0,.6);
   color: #ffffff;
   z-index: 10;
}

.overlay .container{
   height: 100%;
}

.overlay .row{
   height: 100%;
}

.call-to-action span{
   font-size: 2.2em;
   letter-spacing: .01em;
}
.call-to-action img{
   vertical-align: top;
}
#services img {
   max-width: 40%;
}

.card{
   transition: all .5s;
}
.card:hover{
   transition: all .5s;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.18)!important;
}
.projects {
   display: none;
}
.projects h2 {
   color: #ffffff;
   background-color: #282828;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
   clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);

}

.label{
   font-size: 1.3em;
   letter-spacing: .1em;
   font-weight: 600;
}

/* slide */
.carousel-control-next, .carousel-control-prev {
   width: 5%;
}

.carousel-control-prev {
   left: -50px;
}

.carousel-control-next {
   right: -50px;
}

.carousel-control-prev-icon {
 background-color: rgba(0, 0, 0, .7);
 border-radius: 50%;
 border: 1px solid #000000;
 width: 30px;
 height: 30px;
 -webkit-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.63);
 -moz-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.63);
 box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.63);
}

.carousel-control-next-icon {
   background-color: rgba(0, 0, 0, .7);
   border-radius: 50%;
   border: 1px solid #000000;
   width: 30px;
   height: 30px;
   -webkit-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.63);
   -moz-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.63);
   box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.63);
  }

/* fin slide */

.project-phone {
   position: relative;
}

.project-phone .decoration {
   position: absolute;
   width: 292px;
   height: 500px;
   top: -9px;
   overflow: hidden;
   left: 137px;
}

.footer{
   -webkit-clip-path:  polygon(0% 25%, 100% 1%, 100% 0, 100% 100%, 0% 100%);
   clip-path:         polygon(0% 25%, 100% 1%, 100% 0, 100% 100%, 0% 100%);
   background-color: #282828;
   color: #ffffff;  
   overflow: hidden; 
   margin-top: 70px;
   padding-top: 80px;
   letter-spacing: .06em;
}
.footer .col {
   padding-left: 100px;
}
.footer .social-icons {
   margin-top: 20px;
}
.footer .icon {
   font-size: 1.2em;
   color: #fafafa;
   margin-right: 30px;
}
.footer .icon:hover {
   color: #b9b9b9;
}


@media (max-width: 1200px){
   .project-phone .decoration {
      left: 95px;
   }

   #hero-phone .check-list-img {
      top: 300px;
      left: 120px;
   }
   #hero h1 {
      font-size: 3em;
   }

   #hero-phone h3 {
      font-size: 3.4em;
   }
}

@media (max-width: 992px){
   .project-phone .decoration {
      left: 35px;
   }

   #hero-phone .check-list-img {
      top: 480px;
      left: 190px;
   }
   #hero-phone #woman {
      top: 200px;
   }
   #hero-phone h3 {
      top: 115px;
      right: 90px;
   }
   .cont-arrow{
      left: 120px;
      top: 20px;
   }

   #hero-phone #phone {
      margin-top: 10px;
   }
}

@media (max-width: 768px)
{
   h1{
      font-size: 2.5em;
   }
   h3{
      font-size: 1.3em;
   }
   h4{
      font-size: 1.5em;
   }
   .project-phone .decoration {
      left: 120px;
   }
   .call-to-action span{
      font-size: 1.5em;
   }
   #services img {
      max-width: 35%;
   }
   .clip {
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 97%, 50% 98%, 0 99%);
      clip-path: polygon        (0% 0%, 100% 0, 100% 97%, 50% 98%, 0 99%);
      border-radius: 3px;
   }
   .margin{
      margin-bottom: 45px;
   }

   .content {
      margin-top: 30px;
   }

   .projects {
      display: block;
   }
   .slider-projects {
      display: none;
   }

   #hero-phone .check-list-img {
      top: 390px;
      left: 130px;
   }

   #hero-phone #phone {
      max-width: 45%;
   }
   .cont-arrow {
      top: -20px;
      left: 50px;
   }

   #hero-phone #arrow {
      max-width: 22%;
   }

   #hero-phone h3 {
      top: 90px;
   }

   .personal-info {
      padding: 50px 0;
   }
  
}

@media (max-width: 576px)
{
   #hero h1{
      font-size: 2em;
   }
   #hero-phone h3 {
      font-size: 2.5em;
      right: 50px;
      top: 80px;
   }
   #hero-phone #woman {
      top: 150px;
   }
   #hero-phone .check-list-img {
      width: 50px;
      height: 50px;
      top: 410px;
      left: 145px;
   }
   .personal-info {
      padding: 20px 0;
   }
   h4{
      font-size: 1em;
   }
   .project-phone .decoration {
      left: 140px;
   }
   .call-to-action span{
      font-size: 1.4em;
   }
   .overlay .copy{
      display: none;
   }  
   .clip {
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 100% 100%, 0 100%);
      clip-path: polygon        (0% 0%, 100% 0, 100% 100%, 100% 100%, 0 100%);
      border-radius: 3px;
   }

   #footer .logo{
      margin-top: 70px;
   }

   .whatsapp-icon{      
      right: -5px;
      top: 90%;
      border: 1px solid rgba(0, 0, 0, .2);
   
   }

   .copy-icons {
      display: none;
   }

   .whatsapp-icon img{
      max-width: 70%;
   }
}

@media (max-width: 425px)
{
  

   #hero-phone .check-list-img {
      top: 310px;
      left: 110px;
   }
}